

body {
background-color: #7f78d2

}
h3 {
  font-size: 40px;
}
h3 {
  color:#f6d365
}

h1 {
color:#c70d3a

}

h4{
  color:#c70d3a

}

img {

box-shadow: 2px 2px 2px #c70d3a;

}

hr {
background-color: black;
border-style: none;
height: 2px

}

img {
height: 200px

}
